.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}

.photo {
  height: 60px;
  width: 200px;
}

.content {
  margin-top: 3.9%;
  height: 100vh;
  text-align: center;
}
.middle {
  margin-top: 50vh;
}

button {
  border: 0px;
  font-size: 14px;
  width: 250px;
  height: 50px;
  border-radius: 500px;
  background-color: #1db954;
}

button:hover {
  border: 0px;
  font-size: 14px;
  width: 250px;
  cursor: pointer;
  height: 50px;
  border-radius: 500px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #1db954;
}

footer {
  color: white;
  background-color: black;
}
.container {
  display: flex;
  justify-content: space-between;
}

.footer {
  color: white;
  background-color: black;
}
.left {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
}
